body {
text-align: center;
margin: auto;
color: white;
background-image: url(space_background.png);
background-size: cover;
background-image: no-repeat;

}

table {
    text-align: center;
    margin: auto;
}

.container {
    margin: auto;

}

.racer_table td {
  background-color: transparent;
  height: 150px;
  width: 200px;
  margin: auto;
  text-align: center;
}

.heading {
    margin: auto;
    text-align: center;
    font-family: lato, droid-sans; sans-serif;
    font-size: 40px;
    margin-top: -20px;
}


.hidden {
    display: none;
}

#restart {
    font color: black;
    margin: auto;
    font: lato, sans-serif;
    background-color: white;
}

.instructions {
    margin: auto;
    margin-top: -20px;
    text-align: center;
}

.racer-table {
    margin: auto;
    text-align: center;
}


#lane1 td.active {
    background: url(spaceracer2.png);
    background-image: no-repeat;
    background-size: 45px;
}

#lane2 td.active {
    background: url(spaceracer2.png);
    background-image: no-repeat;
    background-size: 45px;
}

td.finish {
    background-color: red;
    background: url(earth1.png);
    background-image: no-repeat;
    background-size: 45px;
}

