.racer_table td {
  background-color: black;
  height: 20px;
  width: 20px;
  margin: auto;
  text-align: center;
  padding: auto;
}

.racer_table td.active {
  background-color: white;
  margin: auto;

}
body {
    width: 90%;
    margin: auto;
    color: white;
    background-color: black;
    padding: auto;
    text-align: center;
}